.bookmark_box
{
    width: 95%;
    border: 2px #064780 solid;
    color: #A0C2DE;
    left: 50%;
    border-left: -47%;
}
.url
{
    width: 100%;
    border-bottom: 2px #064780 solid;
    background: #CDEFFF;
    color: #0854C7;
}
.foot
{
    border-top: 2px #064780 solid;
    background: #CDEFFF;
    color: #064780;
    text-align: right;
}
